# Environment variables
.env

# Node modules
node_modules/

# Build output (Expo web/ios/android)
dist/
build/
web-build/
android/
ios/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# OS/Editor files
.vscode/
.idea/

# Expo cache/artifacts
.expo/
metro-cache/
